.badge-dim {
  filter: brightness(30%) ;
  -webkit-filter: brightness(30%) ;
  -moz-filter: brightness(30%) ;
  -o-filter: brightness(30%) ;
  -ms-filter: brightness(30%) ;
  z-index: 0 !important;
}
.badge-dim:nth-child(3) {
  opacity: 0.3;
}
.badge-dim:nth-child(2) {
  opacity: 0.5;
}
.badge-dim:nth-child(1) {
  opacity: 0.3;
}
.last-update {
  position: absolute;
  left: 40px;
  top: 2.5px;
  width: 900px;
  height: 50px;
  text-align: left;
  font-size: .7rem;
}
.sg-button-secondary--small {
  border-radius: 0;
}
.sg-button-secondary--alt-inverse {
  border-color: #6e85ff;
  background-color: #6e85ff;
}
.sg-button-secondary {
  border-color: #6e85ff;
  fill: #6e85ff;
}
.sg-button-secondary:hover {
  color: #6e85ff;
  border-color: #6e85ff;
}
.sg-button-secondary:focus {
  color: #6e85ff;
  border-color: #6e85ff;
}
.sg-button-secondary-active {
  border-color: #6e85ff !important;
  background-color: #fff !important;
  color: #6e85ff !important;
}
