@media screen and (max-width: 600px) {
	#render-error {
		background-size: 45%;
		.render-error--wrapper {
			width: 300px;
			top: 0;
	    left: 50%;
	    margin-top: 0px;
	    margin-left: -150px;
			padding: 50px 15px;
			.mint-logo {
				left: 15px;
				img {
					max-width: 75px;
				}
			}
			h1 {
				margin-top: 10px;
				font-size: 2.5rem;
			}
			p {
				font-size: 1rem;
				width: 300px;
				padding-top: 20px;
				line-height: 1rem;
				a {
					font-size: 1.3rem;
				}
			}
		}
	}
	#preloader {
		h1 {
			position:initial;
			width: 100%;
			font-size: 1.3rem;
			text-align: center;
			margin: 0;
			margin-top: 50vh;
			padding-top: 70px;
		}
		.mint-logo {
			height: 40px !important;
			position: absolute;
	    left: 50%;
	    margin-left: 45px;
	    top: 50%;
	    margin-top: 95px;
		}
	}
	#header {
		background-attachment: initial;
		height: 350px;
		h1 {
	 		line-height: 2.2rem !important;
			padding-top: 160px;
	 	}
	}
	#content {
		width: 100vw;
	 	margin-top: 0;
	 	margin-bottom: 0;
	 	padding: 30px 5px 30px 5px;
	 	background-image: none;
	 	border-radius: 0;
		.mint-logo {
	 		top: -240px;
	 		left: 50%;
	 		margin-left: -67px;
	 	}
		#controls {
			display: flex;
	    width: 225px;
	    margin: -50px auto 30px auto;
	    position: relative;
			.menu-element {
				position: initial;
				z-index: 150;
				transition: 0.2s;
				margin: 15px;
				margin-left: 0;
			}
			#ranking-button {
				display: block;
			}
		}
		#help {
			margin-left: 0;
			left: 0;
			width: 100%;
			border: none;
			border-radius: 0;
			top: 150px;
			padding: 5px;
		}
		#ranking {
			top: 0;
			left: 0;
			margin-left: 0;
			width: 225px;
			max-height: 100vh;
			height: 100vh;
			border: none;
			border-radius: 0;
			border-bottom: solid 1px #bbbdbf;
			z-index: 400;
			transform: translate(-225px);
			transition: 0.5s;
			.mint-tabs {
				.mint-tabs__tab {
					padding: 0 1.4rem;
				}
			}
	 	}
		.subjects-menu {
			margin: auto !important;
			width: 320px !important;
			max-height: 600px !important;
			overflow: hidden;
			transition: 1s;
		}
		.subjects-menu--unfold {
			height: 570px !important;
			transition: 1s;
		}
		h1 {
			font-size: 2rem !important;
			text-align: center;
	 	}
		#results-wrapper {
			ul {
				padding: 0;
				padding-left: 10px;
			}
		}
    .call-to-action {
      width: 100%;
    }
	}
	.no-data {
		width: 100%;
	}
  #profile {
    width: 100%;
    left: 0;
    margin-left: 0;
    .profile-wrapper {
      .profile-wrapper--hole {
        .profile-user {
          height: 300px;
          .avatar {
            position: initial;
            margin-left: 0;
            left: 0;
            margin: 0 auto 25px auto;
          }
          .user-info {
            width: 100%;
            left: 0;
            margin: 0;
            top: auto;
          }
        }
        .profile-achievements {
          .badges {
            .general {
              .badges-wrapper {
                width: 100%;
                left: 0;
                padding: 0;
                margin-left: 0;
                .badges-item {
                  .badge {
										left: 50%;
										margin-left: -100px;
                    img {
                    }
                  }
									.rookie {
										margin-top: -500px;
									}
									.zealot {
										margin-top: -560px;
									}
									.master {
										margin-top: -620px;
									}
                  .description {
                    width: auto;
                    height: 440px;
                    margin-left: 0px;
										margin-top: 300px;
										margin-bottom: 40px;
										text-align: center !important;
                    h3 {
                      width: 100%;
                      margin: auto;
                    }
										p {
											text-align: center;
										}
										.based-on {
											line-height: 1rem;
										}
										.requirements {
											.element {
												p {
													font-size: 1.75rem !important;
												}
											}
										}
                  }
                }
              }
            }
          }
        }
      }
    }
  }
	#footer {
		height: 80px;
		.fb-share-button {
			top: 10px;
			left: 50%;
		}
		.twitter-share-btn {
			top: 14px;
			left: 24.5%;
		}
		p {
			left: 50%;
			margin-left: -95.5px;
		}
	}
}

/* operational */

.ranking-open {
	max-width: 100vw;
	transform: translate(0px) !important;
	-webkit-box-shadow: 5px 0px 30px -4px rgba(76, 76, 76, 0.57);
	-moz-box-shadow:    5px 0px 30px -4px rgba(76, 76, 76, 0.57);
	box-shadow:         5px 0px 30px -4px rgba(76, 76, 76, 0.57);
}
.ranking-open--button {
	transform: translate(50px) !important;
}
