/*
-------------------------------------------
>>>>>>>>> Opti-tool © Brainly 2016 <<<<<<<<
>>>>>>>>>>> STYLESHEET ver. 1.4 <<<<<<<<<<<
-------------------------------------------
---------------- CONTENTS -----------------

	1. General
	2. Independent elements
		2.1. Preloader
		2.2. Top-layer blackout
	3. Header
	4. Content
		4.1. Header logo
		4.2. Navigation
		4.3. Help toplayer
		4.4. Subjects filter menu
		4.5. Rankings
			4.5.1. Header
			4.5.2. Menu
			4.5.3. Ranking wrappers
		4.6. Secondary header
		4.7. Questions container
		 	4.7.1. Answer style
		4.8. Call to action
	5. Profile
	6. Footer
		6.1. Facebook share button
		6.2. Twitter share button
	7. SASS partials import
		7.1. _preloader-animation.scss
		7.2. _error.scss
		7.3. _rwd.scss

	-------------------------------------------
	--------------- DESCRIPTION ---------------




	-------------------------------------------
*/

/*
=================================|▷
1. General
=================================|▷
*/

html {
	font-size: 100%;
}
body {
	background-color: #ebf2ef;
}

/*
=================================|▷
2. Independent elements
=================================|▷
	2.1. Preloader
=================================|▷
*/
#preloader {
	width: 100vw;
	height: 100vh;
	background-color: #6e85ff;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1001;
	.preloader-animation {
		position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -48px;
    margin-top: -48px;
	}
	h1 {
		position: absolute;
    left: 50%;
    margin-left: -386px;
    top: 50%;
		margin-top: 75px;
	}
	.mint-logo {
		position: absolute;
    left: 50%;
    margin-left: 180px;
    top: 50%;
    margin-top: 95px;
	}
}
/*
=================================|▷
	2.2. Top-layer blackout
=================================|▷
*/
#blackout {
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,0.75);
	z-index: 250;
}

/*
=================================|▷
3. Header
=================================|▷
*/
#header {
	height: 600px;
	width: 100%;
	background: url('assets/img/background_IN.jpg') no-repeat;
  background-position: center;
  background-attachment: fixed;
	background-size: cover;
	h1 {
		text-align: center;
		padding-top: 220px;
	}
}

/*
=================================|▷
4. Content
=================================|▷
*/
#content {
	position:relative;
	padding: 10px;
	padding-left: 200px;
	width: 950px;
	min-height: 88vh;
	margin: auto;
	margin-top: -75px;
	margin-bottom: 30px;
	background: url('assets/img/arrow-lavender.png') no-repeat;
	background-size: 40px 80px;
	background-position: 83% 40px;
	background-color: #fff;
	border-radius: 30px;
	/*
	===============================|▷
	4.1. Header logo
	===============================|▷
	*/
	.mint-logo {
		position: absolute;
		left: 385px;
		top: -370px;
	}
	/*
	===============================|▷
	4.2. Navigation
	===============================|▷
	*/
	#controls {
		width: 300px;
		height: 35px;
		margin: -60px auto 60px 350px;
		position: relative;
		.menu-element {
			position: absolute;
			min-width: 35px;
			height: 35px;
			background-size: 35px 35px !important;
			top: 35px;
			z-index: 150;
			transition: 0.2s;
		}
		.menu-element:hover {
			transition: 0.2s;
		}
		.menu-element:active {
			z-index: 750;
			transition: 0.1s;
		}
		#help-button {
			background: url('assets/img/info_normal.png') no-repeat;
			left: 40px;
		}
		#help-button:hover {
			background: url('assets/img/info_hover.png') no-repeat;
		}
		#help-button:active {
			background: url('assets/img/info_active.png') no-repeat;
		}
		#ranking-button {
			display: none;
			background: url('assets/img/ranking_normal.png') no-repeat;
			left: 0;
		}
		#ranking-button:hover {
			background: url('assets/img/ranking_hover.png') no-repeat;
		}
		#ranking-button:active {
			background: url('assets/img/ranking_active.png') no-repeat;
		}
		#subjects-button {
			background: url('assets/img/subjects_normal.png') no-repeat;
			left: -40px;
		}
		#subjects-button:hover {
			background: url('assets/img/subjects_hover.png') no-repeat;
		}
		#subjects-button:active {
			background: url('assets/img/subjects_active.png') no-repeat;
		}
	}
	/*
	===============================|▷
	4.3. Help toplayer
	===============================|▷
	*/
	#help {
		padding: 50px;
		margin-bottom: 50px;
		position: absolute;
		display: none;
		top: 20px;
		left: 50%;
		margin-left:-455px;
		width: 910px;
		min-height: 700px;
		border: solid 2px black;
		border-radius: 20px;
		background-color: rgba(255,255,255,0.9);
		z-index: 500;
		h1 {
			color: #ffbe32 !important;
		}
		h3 {
			margin-bottom: 15px;
		}
		p {
			margin-bottom: 15px;
			text-align: justify;
		}
		a {
			color: #6e85ff;
			cursor: pointer;
			cursor: hand;
		}
	}
	/*
	===============================|▷
	4.4. Subjects filter menu
	===============================|▷
	*/
	.subjects-menu--unfold {
		height: 300px !important;
		overflow: hidden;
		transition: 1s;
	}
	.subjects-menu {
		margin: 45px 0 20px 7.5% !important;
		width: 85% !important;
		height: 75px;
		overflow: hidden;
		transition: 1s;
		.mint-button-secondary {
			margin: 1px;
			width: 150px;
			margin-top: 5px;
			line-height: 1rem;
		}
	}
	/*
	===============================|▷
	4.5. Rankings
	===============================|▷
	*/
	#ranking {
		z-index: 100;
		position: absolute;
		padding-left: 20px;
		padding-right: 20px;
		background: white;
		border-radius: 25px;
		max-height: 84vh;
		width: 200px;
		top: 25px;
		left: 50%;
		margin-left: -455px;
		border: solid 2px black;
		overflow:auto;
		/*
		=============================|▷
		4.5.1. Header
		=============================|▷
		*/
		h3 {
			color: #6e85ff;
			margin-top: 20px;
			margin-bottom: -5px;
			padding-bottom: 10px;
			width: 100%;
			text-align: center;
		}
		/*
		=============================|▷
		4.5.2. Menu
		=============================|▷
		*/
		.mint-tabs {
			margin-top: 10px;
			margin-right: -20px;
			line-height: 1.5rem;
			height: 1.5rem;
      .mint-tabs__tab:hover {
        background: rgb(107, 107, 107);
      }
			.mint-tabs__tab {
				padding: 0 1rem;
				min-height: 1.5rem;
				font-size: .1rem;
			}
      .mint-tabs__tab--active {
        background: #000;
      }
		}
		/*
		=============================|▷
		4.5.3. Ranking wrappers
		=============================|▷
		*/
		#rankingList, #rankingListWeekly {
			overflow: auto;
    	padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
			li {
				position: relative;
				margin-left: -40px;
				list-style:inside decimal;
				font-weight: bold;
				font-size: 0.75rem;
				.ranking-element {
					padding-bottom: 10px;
					margin-bottom: 10px;
					border-bottom: dashed 1px #bbbdbf;
					a {
						color: black;
						transition: 0.25s;
					}
					a:hover {
						color: #969799;
						transition: 0.25s;
					}
					.number {
						position: absolute;
						top: 0;
						left: 95%;
						color: #ff8073;
						text-align: right;
					}
				}
			}
		}
		#rankingListWeekly {
			display: none;
		}
	}
	/*
	===============================|▷
	4.6. Secondary header
	===============================|▷
	*/
	h1 {
		width: 95%;
		margin: auto;
		font-size: 2.4rem !important;
		text-align: center;
		padding: 20px 0 10px 0;
		margin-bottom: 30px;
		color: #6e85ff !important;
	}
	/*
	===============================|▷
	4.7. Questions container
	===============================|▷
	*/
	#results-wrapper {
		ul {
			padding: 0 100px;
			font-size: 1.1rem;
			a {
				width: 100%;
				color: black;
				transition: 0.25s;
			}
			a:hover {
				color: #6e85ff;
				transition: 0.25s;
			}
			li {
				margin: 8px;
				list-style: circle;
				list-style-image: url('assets/img/bullet-lavender.gif');
				cursor: pointer;
				cursor: hand;
				transition: 0.5s;
			}
			.js-li--blue {
				color: #6e85ff !important;
			}
			li:hover {
				color: #6e85ff;
				transition: 0.5s;
			}
			h3 {
				padding-bottom: 10px;
				padding-top: 10px;
			}
			/*
			=============================|▷
			4.7.1. Answer style
			=============================|▷
			*/
			.json-answer--hidden {
				display: none;
			}
			.json-answer--wrapper {
				padding: 20px;
				padding-top: 5px;
				margin-top: 10px;
				margin-bottom: 30px;
				border: solid 2px #e1e3e5;
				border-radius: 25px;
				h3 {
					font-size: 1rem;
					color: #6e85ff;
				}
				.json-answer {
					position: relative;
					font-size: 1rem;
					text-align: justify;
				}
				.approved {
					background: url('assets/img/tick.png') no-repeat;
					background-position: right;
					background-size: 30px 30px;
				}
				.not-approved {
					background: url('assets/img/cross.png') no-repeat;
					background-position: right;
					background-size: 30px 30px;
				}
			}
		}
	}
	/*
	===============================|▷
	4.8. Call to actions
	===============================|▷
	*/
	.call-to-action {
		width: 500px;
		margin: auto;
		h3 {
			font-size: 1.4rem !important;
			text-align: center;
			padding: 20px;
		}
		.call-to-action--btn {
			width: 180px;
			margin: auto;
		}
	}
}
/*
=================================|▷
5. Profile
=================================|▷
*/
#profile {
	display: none;
	overflow: auto;
	position: fixed;
	top: 0;
	left: 100vw;
	margin-left: -960px;
	height: 100vh;
	width: 960px;
	z-index: 2000;
	background: #fff;
	box-shadow: inset 0px 0px 24px -3px #F7F7F7,-14px 0px 16px -5px rgba(119, 114, 114, 0.5);
	-webkit-box-shadow: inset 0px 0px 24px -3px #F7F7F7,-14px 0px 16px -5px rgba(119, 114, 114, 0.5);
	-moz-box-shadow: inset 0px 0px 24px -3px #F7F7F7,-14px 0px 16px -5px rgba(119, 114, 114, 0.5);
	-o-box-shadow: inset 0px 0px 24px -3px #F7F7F7,-14px 0px 16px -5px rgba(119, 114, 114, 0.5);
	.profile-wrapper {
		position: relative;
		width: 100%;
		.profile-top {
			position: relative;
			height: 75px;
			width: 100%;
			background: url('assets/img/background_IN.jpg') no-repeat;
		  background-position: center;
			background-size: cover;
			#profile-btn {
				position: absolute;
				width: 50px;
				height: 50px;
				margin: 20px;
				.mint-icon {
					max-width: 35px;
					max-height: 35px;
					width: 35px;
					height: 35px;
					opacity: 0.75;
					transition: 0.2s;
				}
				.mint-icon:hover {
					opacity: 1;
					transition: 0.2s;
				}
				.mint-icon:active {
					opacity: 0.3;
					transition: 0.1s;
				}
			}
		}
		.profile-wrapper--hole {
			position: absolute;
			width: 100%;
			left: 0;
			top: 75px;
			display: none;
			.profile-user {
				background: #dbe0fa;
				position: relative;
				padding: 25px;
				width: 100%;
				height: 200px;
				-webkit-box-shadow: 0 15px 20px -15px rgba(0,0,0,1);
			  -moz-box-shadow: 0 15px 20px -15px rgba(0,0,0,1);
			  box-shadow: 0 15px 20px -15px rgba(0,0,0,1);
				.avatar {
					position: absolute;
					left: 50%;
					margin-left: -75px;
					width: 150px;
					height: 150px;
					border-radius: 75px;
					background: #595959;
					img {
						width: 150px;
						height: 150px;
						border-radius: 75px;
					}
				}
				.user-info {
					width: 400px;
					position: absolute;
					top: 50%;
					left: 300px;
					margin-left: -300px;
					margin-top: -20px;
					.username {
						width: 100%;
						text-align: center;
						font-size: 2.5rem;
						a {
							color: black;
						}
					}
					.rank {
						width: 300px;
						padding-top: 5px;
						margin: auto;
						margin-top: 10px;
						text-align: center;
						color: rgb(126, 126, 126);
						font-size: 1.1rem;
					}
				}
				.user-titles {
					position: absolute;
					left: 630px;
					top: 50px;
					h3 {
						text-align: center;
					}
					.titles {
						li {
							margin-left: -20px;
							list-style: none;
						}
					}
				}
			}
			.profile-achievements {
				margin: 25px;
				padding-top: 50px;
				h2 {
					text-align: center;
					font-size: 3rem;
					color: #6e85ff;
					padding-bottom: 50px;
				}
				.badges {
					width: 100%;
					display: flex;
					.general {
						width: 100%;
						position: relative;
						h3 {
							font-size: 1.5rem;
							text-align: center;
							border-bottom: solid 1px rgb(126, 126, 126);
							margin-left: 50px;
							margin-right: 50px;
							padding-bottom: 15px;
							margin-bottom: 50px;
						}
						.badges-wrapper {
							position: absolute;
							list-style: none;
							width: 600px;
							left: 50%;
							margin-left: -300px;
							.badges-item {
								position: relative;
								padding-bottom: 50px;
								margin-bottom: 50px;
								.badge {
									position: absolute;
									margin: 30px;
									margin-left: -40px;
									top: 50%;
									margin-top: -130px;
									img {
										width: auto;
										height: 200px;
										border-radius: 100px;
									}
								}
								.rookie {
									margin-top: -60px;
									z-index: 80
								}
								.zealot {
									z-index: 90
								}
								.master {
									margin-top: -200px;
									z-index: 100
								}
								.description {
									color: #1a1a1a !important;
									text-transform: uppercase;
									position: relative;
									width: 400px;
									margin-left: 200px;
									height: 370px;
									border-radius: 30px;
									border-left: 2px solid #595959;
									border-right: 2px solid #595959;
									h3 {
										position: absolute;
										color: #595959;
										border: none;
										top: -10px;
										width: 300px;
										text-align: center;
										font-size: 1.1rem;
									}
									p {
										color: #595959;
										padding: 10px;
										font-size: .9rem;
										padding-top: 50px;
										width: 100%;
										text-align: justify;
										line-height: 1.2rem;
										font-variant: small-caps !important;
									}
									.based-on {
										color: #595959;
										font-size: .9rem;
										margin: 15px 50px;
										padding: 5px 0;
										border-top: 1px solid #595959;
										border-bottom: 1px solid #595959;
									}
									h2 {
										font-size: 2rem;
										padding: 0;
										margin: 20px 0;
										margin-top: 30px;
									}
									.requirements {
										display: flex;
										.element {
											width: 30%;
											margin: auto;
											h3 {
												position: initial;
												width: 100%;
												text-align: center;
												margin: 0;
												padding: 0;
											}
											p {
												font-size: 3rem;
												font-weight: bold;
												width: 100%;
												text-align: center;
												margin: 0;
												padding: 15px;
											}
										}
									}
								}
							}
							.badges-item:nth-of-type(1) {
								.description {
									h2 {
										color: #ff8073;
									}
									.requirements {
										.element {
											p {
												color: #ff8073;
											}
										}
									}
								}
							}.badges-item:nth-of-type(2) {
								.description {
									.requirements {
										.element {
											p {
												color: #6e85ff;
											}
										}
									}
								}
							}
							.badges-item:nth-of-type(3) {
								.description {
									h2 {
										color: #ffbe32;
									}
									.requirements {
										.element {
											p {
												color: #ffbe32;
												font-size: 2rem;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
/*
=================================|▷
6. Footer
=================================|▷
*/
#footer {
	position: relative;
	height: 40px;
	width: 100%;
	background-color: #ebf2ef;
	/*
	===============================|▷
	6.1. Facebook share button
	===============================|▷
	*/
	.fb-share-button {
		position: absolute;
		left: 75%;
		top: 0px;
	}
	/*
	===============================|▷
	6.2. Twitter share button
	===============================|▷
	*/
	.twitter-share-btn {
		position: absolute;
		left: 63%;
		top: 4px;
	}
	p {
		position: absolute;
		bottom: 15px;
		left: 17vw;
		text-align: center;
		color: #383838;
	}
}
/*
=================================|▷
7. SASS partials import
=================================|▷
	7.1. _preloader-animation.scss
=================================|▷
*/
@import 'preloader-animation';
/*
=================================|▷
	7.2. _error.scss
=================================|▷
*/
@import 'error';
/*
=================================|▷
	7.3. _rwd.scss
=================================|▷
*/
@import 'rwd';
